/****************************************
  Reset
*****************************************/

* {
    border: 0;
    margin: 0;
}

* a {
    text-decoration: none;
}

/****************************************
  Defaults
*****************************************/

header {
    width: 960px;
    height: 250px;
    background-color: magenta;
    margin: 0 auto;
}

main {
    width: 960px;
    margin: 0 auto;
}

body {
    background-color: green;
}

/****************************************
  Helpers
*****************************************/




/****************************************
  Layout
*****************************************/




/****************************************
  Components
*****************************************/



.logo {
    position: absolute;

}



.search {

}

.puppy-menus {
    display: flex;

}

.tile-puppies {
    flex: 0.5;

}

.welcome-text > h1 {
    text-align: center;
}

.welcome-text > h6 {
    text-align: center;
}

/*---------- 3 boxes that overlap into the hero element ----- */
.services .service-items {
    list-style: none;
    display: inline-flex;
    margin: 0 auto;
}


/* ----- Flexbox menu. 3 puppies on the left ----- */
.puppies-featured {
    flex: 0.5;
    display: flex;
    max-width: 480px;
}

.puppies-featured > img {
    width: 50px;
    height: 50px;
}

.puppies-featured > h3 {
    flex: 0.5;
    background-color: red;
}

.puppies-featured > p {
    flex: 0.5;
    background-color: yellow;
}
/* ----- End of flexbox puppies on left ---- /*
