/****************************************
  Reset
*****************************************/

* {
    border: 0;
    margin: 0;
}

* a {
    text-decoration: none;
}

/****************************************
  Defaults
*****************************************/

header {
    height: 450px;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}

main {
    margin: 0 auto;
    background-color: #D7E1E7;
}

body {
    background-color: #D7E1E7;
    font-family: 'Open Sans';
}

/****************************************
  Helpers
*****************************************/

/****************************************
  Layout
*****************************************/



.hero {
    width: 100%;
    margin: 0 auto;
    background: radial-gradient(rgba(0, 143, 172, 0.4), #008fac), url("../images/bg.jpg") no-repeat;
}
header {
    margin: auto;
    width: 70%;
}

main {
    background-color: #D7E1E7;
}

div.2 {
    width: 70%;
    margin: auto;
}

div.puppy-menus {
    width: 70%;
    margin: auto;
}

/****************************************
  Components
*****************************************/

.search-button {
    background-color: orange;
}

.navbar {
    width: 100%;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 20%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.navbar > a {
    display:inline-block;
    padding: 15px;
    text-align: center;
    color: #fff;
}

.welcome-text div p {
    font-size: 50px;
}

.logo {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Lobster';
    color: #fff;
    font-size: 50px;
}

.search {
    position: absolute;
    right: 0;
    top: 10px;
}

.search > input {
    background-color: rgba(255, 255, 255, 0.0);
    border: 1px solid #7FC5CD;
}

.puppy-menus {
    display: flex;
}

.tile-puppies {
    flex: 0.5;
}

.welcome-text {
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
    color: #fff;
    font-family: 'Arial';
}

/*---------- Media object and tile menu background --------*/

.puppy-menus {
    background-color: blue;
}

/*---------- 3 boxes that overlap into the hero element ----- */

.services-menu {
    width: 70%;
    margin: auto;
    text-align: center;
}

.services {
    width: 280px;
	height: 140px;
	display: inline-block;
	background-color: #fff;
	margin-left: 9px;
	margin-right: 9px;
    text-align: center;
	transform: translateY(-20px);
}

.services-heading {
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
}

.services > button {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    position: relative;
    bottom: 5px;
}

.button.left {
    border: 2px solid #EF4A1A;
    color: #EF4A1A;
}

.button.center {
    border: 2px solid #87D150;
    color: #87D150;
}

.button.right {
    border: 2px solid #0092D1;
    color: #0092D1;
}

/* ----- Media objects, 3 puppies on the left ----- */

.media-objects {
    background-color: #fff;
}

.puppies-featured {
    display: flex;
    max-width: 390px;
    margin: 10px;
}

.puppies-featured > img {
    width: 70px;
    height: 70px;
}

.name-bio {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #444
}

.bio-headings {
    font-size: 18px;
    color: #0092D1
}

.name-bio > h3 {
    background-color: #E7F3F9;
}

.name-bio > p {
    background-color: #E7F3F9;
    flex: 0.5;
    padding-left: 5px;
}

/* ----- End of flexbox puppies on left ---- */

.puppy-menus {
    display: flex;
}

.puppies-profile {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-wrap:wrap;
}

.profile {
    max-width: 133px;
    float: left;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: #E2EFD7;
    color: #376917
}

.profile-heading {
    background-color: #87D150;
    font-size: 14px;
    padding: 5px;
}

.profile > img {
    width: 133px;
    height: 133px;
}

.profile-text {
    flex: 0.5;
    padding: 5px;
}
