/****************************************
  Reset
*****************************************/

* {
    border: 0;
    margin: 0;
}

* a {
    text-decoration: none;
}

/****************************************
  Defaults
*****************************************/

header {
    height: 250px;
    background-color: magenta;

    margin: 0 auto;
    position: relative;
}

main {

    margin: 0 auto;
    background-color: yellow;
}

body {
    background-color: green;
}

/****************************************
  Helpers
*****************************************/




/****************************************
  Layout
*****************************************/

div.1 {
    background-color: yellow;
}

.hero {
    width: 80%;
    margin: auto;
}

main {
    background-color: purple;

}

div.2 {
    width: 80%;
    margin: auto;
}

div.puppy-menus {
    width: 80%;
    margin:auto;
}

/****************************************
  Components
*****************************************/

.search-button {
    background-color: orange;
}

.navbar {
    /*position: absolute;
    min-height: 50px;
    background-color: turquoise;
    top: 15%;
    left: 3.25%;
    width: 900px;
    text-align: center;*/
    width: 100%;
    min-height: 50px;
    text-align: center;
    margin: auto;
    background-color: turquoise;
    position: absolute;
    top: 20%;
}

.navbar > a {
    margin: 5px 25px 5px 25px;
}

.logo {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}

.search {
    position: absolute;
    right: 0;
    top: 0;

}

.puppy-menus {
    display: flex;

}

.tile-puppies {
    flex: 0.5;

}

.welcome-text {
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
    background-color: yellow;
}

/*.welcome-text > h1 {
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 30%;
}

.welcome-text > h6 {
    text-align: center;
    position: absolute;
    bottom: 10%;
    right: 20%;
}*/

/*---------- Media object and tile menu background --------*/

.puppy-menus {
    background-color: blue;
}

/*---------- 3 boxes that overlap into the hero element ----- */

.services-menu {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: red;
}

.services {
    width: 290px;
	height: 190px;
	display: inline-block;
	background-color: lime;
	margin-left: 9px;
	margin-right: 9px;
    text-align: center;
	transform: translateY(-20px);
}

.services > button {
    width: 150px;
    height: 25px;
    margin-top: 10px;
}

/* ----- Media objects, 3 puppies on the left ----- */

.media-objects {
    margin-left: 5px;
}
.puppies-featured {
    display: flex;
    max-width: 480px;
    margin: 5px 0 10px 5px;
}
.puppies-featured > img {
    width: 60px;
    height: 60px;
}

.name-bio {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.name-bio > h3 {
    background-color: red;
    flex: 0.5;
}

.name-bio > p {
    background-color: yellow;
    flex: 0.5;
}

/* ----- End of flexbox puppies on left ---- */

.puppy-menus {
    display: flex;
}

.media-objects {
    flex: 0.33;
}

.puppies-profile {
    flex: 0.66;
}

.profile {
    vertical-align: top;
    width: calc(30%);
    float: left;
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

.profile > img {
    width: 133px;
    height: 133px;
}

.profile > h4 {
    flex: 0.5;
}

.profile > p {
    flex: 0.5;
}

/* .dummy {
    display: flex; /*This would be on a container
    /*width: calc(33%); This would be on a tile
} */
